<!DOCTYPE html>
<html lang="en">
  <head>

{{template "headmeta.tmpl" .}}

    <title>Support : Xenonstack</title>
  </head>
  <body>
{{template "header.tmpl" .}}

    <div class="docs-details">
                <div class="layout-wrapper">

                  <ul class="page-bradcrums">
                    <li><a href="/">Home</a></li>
                  </ul>
                  <div class="article-listing-outer">

                    <section class="article-section">
                    <div class="page-heading-outer">
                      <h2>{{.name}} </h2>
                    </div>
                    <ul class="article-post-list">
                              {{range $_,$nam := .names}}
                      <li>
                       <a class="article-item" href="/article/{{$nam.Slug}}">
                          <i class="material-icons">description</i>
                                {{$nam.Title }}
                         <span class="article-date">Modified {{$nam.DateSubmitted.Format "January 02, 2006"}} </span>
                       </a>
                      </li>
                                {{end}}
                    </ul>
                    </section>

                  </div>
                </div>
              </div>
  </div>

{{template "footer.tmpl" .}}

  </body>
</html>
