<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Xtendlab | Dashboard</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" type="text/css" href="/admin/static/bower_components/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/admin/static/bower_components/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="/admin/static/bower_components/Ionicons/css/ionicons.min.css">

  <link rel="stylesheet" type="text/css" href="/admin/static/bower_components/jvectormap/jquery-jvectormap.css">

  <link rel="stylesheet" type="text/css" href="/admin/static/dist/css/AdminLTE.min.css">

  <link rel="stylesheet" type="text/css" href="/admin/static/dist/css/skins/_all-skins.min.css">

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
        <style type="text/css"></style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<style>
li.user-header {
    height: 68px !important;
}
a.btn.btn-default.btn-flat {
    margin-left: 34% !important;
}
</style>

  <header class="main-header">


    <a href="/admin/article/view" class="logo">

      <span class="logo-mini"><b>XL</b></span>

      <span class="logo-lg"><b>Xtendlab</b></span>
    </a>


    <nav class="navbar navbar-static/default-top">

      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown messages-menu">

            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>

                <ul class="menu">
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/admin/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/admin/static/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Xenon Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/admin/static/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/admin/static/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/admin/static/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>

          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Menu</span>
            </a>

            <ul class="dropdown-menu">

              <li class="user-header">
                <p>
                  Documentation Admin Panel
                </p>
              </li>

              <li class="user-footer">
                <div>
                  <a href="/logout"  class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>

        </ul>
      </div>

    </nav>
  </header>

  <aside class="main-sidebar">

    <section class="sidebar">

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        
               <li class="treeview">
              <a href="/admin/article/view">
            <i class="fa fa-dashboard"></i> <span>Article</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
             <li class="active"><a href="/admin/article/view"><i class="fa fa-circle-o"></i> View Article </a></li>
                <li class="active"><a href="/admin/article/new"><i class="fa fa-circle-o"></i>Create New Article</a></li>
         </ul>
      </li>

</ul>
    </section>

  </aside>


  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Dashboard
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin/article/view"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>


    <section class="content">

                        <div class="row">
                                <div class="col-md-6">


          <!--<div class="box">
              <form>
            <input name="title"/>
            <input type="submit"/>
        </form>-->
        <div class="bs-example">
        <form action="/admin/article/new" method="POST" enctype="multipart/form-data"class="form-horizontal">


                <div class="form-group">
                    <label for="inputname" class="control-label col-xs-2">Title</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="name" id="name" onchange="updateInput(this.value)" placeholder="Enter Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputslug" class="control-label col-xs-2">Doc Slug</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="_id" id="_id" placeholder="Title Slug">
                    </div>
                </div> 

                <div class="form-group">
                    <label for="inputDescription" class="control-label col-xs-2">Description</label>
                    <div class="col-xs-10">
                        <textarea type="text" class="form-control" name="description" id="description" placeholder="Description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="category" class="control-label col-xs-2">Category</label>
                    <div class="col-xs-10">
                        <select name="category"   class="form-control" show-menu-arrow>
                            <!--Supplement an id here instead of using 'text'-->

                              <option value="Documentation">Documentation</option>
                            </select>
                    <!--    <input type="text" class="form-control" name="category" id="category" placeholder="Category">-->
                    </div>
                </div>

                <div class="form-group">
                    <label for="Subcategory" class="control-label col-xs-2">Tag</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="subcategory" id="subcategory" placeholder="Tags"/>
                    </div>
                </div>                

                <div class="form-group">
                    <label for="body" class="control-label col-xs-2">Body</label>
                    <div class="col-xs-10">
                        <textarea type="text" class="form-control" name="body" id="body" placeholder="Body"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="control-label col-xs-2">Date</label>
                    <div class="col-xs-10">
                        <input type="date" class="form-control" name="date" id="date" placeholder="dd/mm/yyyy">
                    </div>
                </div>

                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
        </form>
    </div>
            <!-- /.box-header -->
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </section>

  </div>


   <footer class="main-footer">
    <strong>Copyright &copy; 2018 Xenonstack.</strong> All rights
    reserved.
  </footer>


</div>




<script src="/admin/static/bower_components/jquery/dist/jquery.min.js"></script>

<script src="/admin/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/admin/static/bower_components/fastclick/lib/fastclick.js"></script>

<script src="/admin/static/dist/js/adminlte.min.js"></script>

<script src="/admin/static/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>

<script src="/admin/static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/admin/static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<script src="/admin/static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

<script src="/admin/static/bower_components/Chart.js/Chart.js"></script>

<script src="/admin/static/dist/js/pages/dashboard2.js"></script>

<script src="/admin/static/dist/js/demo.js"></script>

<script>
function updateInput(data){
    console.log(data, 'name')
    str = data.replace(/\s+/g, '-').toLowerCase();
    document.getElementById("_id").value = str;
    console.log(document.getElementById("_id").value)

}
CKEDITOR.replace( 'body' );
CKEDITOR.config.allowedContent = true;
</script>

</body>
</html>
