
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
     <link rel="shortcut icon" href="%PUBLIC_URL%/Xenonstack.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" type="text/css" rel="stylesheet">
    <link href="/static/default/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="/static/default/css/style.css" type="text/css" rel="stylesheet">
    <link href="/static/default/css/responsive-style.css" type="text/css" rel="stylesheet">

    <title>Support : Xenonstack</title>
  </head>
  <body>
    <header class="mdc-toolbar mdc-toolbar-header" >
      <div class="layout-wrapper">
        <div class="mdc-toolbar__row">
          <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
              <a href="/" class="mdc-toolbar__title app-logo"><img src="/static/default/images/Xenonstack.png" alt="Xenonstack Support" /></a>
          </section>
          <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
              <a href="/" class="head-links active"> Home </a>
              <a href="#" class="head-links"> Forums </a>
              <a href="#" class="head-links"> Knowledge Base</a>
              <a href="/login" class="head-links"> Login </a>
              <a href="#" class="login-signup">New Support Ticket</a>
          </section>
        </div>
      </div>
    </header>
  <div class="page-wrapper">
    <div class="banner-wrapper page-not-found">
        <div class="mdl-aligner">
        <div class="layout-wrapper">
          <div class="banner-content">
            <h1>Oops! Page Not Found. That link is borken. </h1>
            <p>The page you were looking for doesn't exist.You may have mistyped the address or the page may have moved. </p>
            <div class="page-not-found-msg">
              <h2>404</h2>
              <a href="/" class="link-btn"> Back to homepage </a>
              </div>
          </div>
        </div>
    </div>
  </div>

  <footer>
        <div class="footer-btm">
            <div class="layout-wrapper">
                 <div class="about-col">
                    <div class="about-content">
                         <div class="footer-links">
                           <h4 class="is-left">Xenonstack</h4>
                           <p>Xtenlabs gives on-demand access to hands-on software environments to test, learn, and gain proficiency with the very latest software including Big Data, Cloud, IoT, Machine Learning, Artificial Intelligence, and Blockchain technologies. </p>
                        </div>
                    </div>
                </div>

                <div class="links-col">
                    <div class="ab-content">
                        <div class="footer-links">
                          <h4>Technology</h4>
                          <ul>
                            <li><a href="/" title="Big Data">Big Data</a></li>
                            <li><a href="/" title="Data Science "> Data Science </a></li>
                            <li><a href="/" title="Databases ">Databases </a></li>
                            <li><a href="/" title="IoT ">IoT </a></li>
                            <li><a href="/" title="Block Chain  ">Block Chain  </a></li>

                          </ul>
                        </div>
                    </div>
                </div>

                <div class="links-col"><div class="ab-content">
                     <div class="footer-links">
                       <h4>Solutions</h4>
                       <ul>
                         <li><a href="/">Individual Student</a></li>
                         <li><a href="/">Enterprise</a></li>
                         <li><a href="/">Academic Institution</a></li>
                       </ul>
                     </div>
                    </div>
                </div>
                <div class="links-col"><div class="ab-content">
                     <div class="footer-links">
                       <h4>Resources</h4>
                       <ul>
                         <li><a href="/" >Home</a></li>
                         <li><a href="/" >Knowledge Base</a></li>
                         <li><a href="/" >Forum</a></li>
                       </ul>
                     </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="layout-wrapper">
              <div class="copy-r">
                  <ul>
                    <li>&copy; Copyright 2018 Xenonstack. All rights reserved.</li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
                <div class="social-links-icons">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                  </div>
              </div>
          </div>
      </footer>
  </body>
</html>
