  <footer>
   <div class="footer-copyright">
            <div class="layout-wrapper">
                <div class="copy-r">
                    <ul>
                        <li>© Copyright 2018 Xenonstack. All rights reserved.</li>
                        <li><a href="http://Xenonstack.com/terms_of_use.html" target="_blank">Terms of Use</a></li>
                        <li><a href="http://Xenonstack.com/privacy_policy.html" target="_blank">Privacy Policy</a></li><li><a href="http://Xenonstack.com/terms_of_sale.html" target="_blank">Terms of Sale</a></li> <li><a href="http://Xenonstack.com/copyright_policy.html" target="_blank">Copyright Policy</a></li>
                    </ul>
                </div>
                <div class="social-links-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
      </footer>