    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
     <link rel="shortcut icon" href="/static/default/images/Xenonstack.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" type="text/css" rel="stylesheet">
    <link href="/static/default/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="/static/default/css/style.css" type="text/css" rel="stylesheet">
    <link href="/static/default/css/responsive-style.css" type="text/css" rel="stylesheet">
